
.home_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &_primary {
    display: flex;
    flex-direction: row;
    padding-top: 5%;

    &_left_pane {
      border-right: solid $body-text-color 1px;
      width: 15%;
      margin-top: 5%;


    }

    &_content {
      width: 70%;
      padding-left: 5%;
      padding-right: 5%;
    }

    &_right_pane {
      width: 15%;
      margin-top: 5%;
      border-left: solid 1px;
    }
  }

  &_seconday {

  }
}




