body {
  background-color: $bg-secondary;
  color: $text-primary;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px;

  > header {
    height: 13%;
  }
  > main {
    min-height: 100vh;
  }
  > footer {
    height: 7%;
  }
}

.root_main {
  display: flex;
  flex-direction: column;
}
