body {
  background-color: rgb(248, 250, 229);
  color: rgba(34, 63, 129, 0.954);
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px;

  > header {
    height: 13%;
  }
  > main {
    min-height: 100vh;
  }
  > footer {
    height: 7%;
  }
}

.root_main {
  display: flex;
  flex-direction: column;
}
