.featured-section__post {
  border: solid rgb(14, 89, 129) 1px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(71, 183, 239, 0.482);
}