$body-text-color: rgba(34, 63, 129, 0.954);
$header-background-color: rgba(120, 200, 240, 0.812);
$page-header-background-color: rgba(34, 63, 129, 0.954);
$footer-background-color: rgba(120, 200, 240, 0.812);